# CMake build directory
/build/

# Object files
*.o
*.obj
*.lo
*.la

# Dependency files
*.d

# Executeables
minijs
*.exe
*.out

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS generated
.DS_Store
Thumbs.db